@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

$headercolor: rgba(255, 217, 0, 0.8);

body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
	text-transform: uppercase;
}

.regular {
	font-weight: 400;
}

.thin {
	font-weight: 300;
}

header {
	.menu {
		position: fixed;
		height: 10vh;
		width: 100vw;
		display: flex;
		justify-content: space-around;
		align-items: center; 
		flex-wrap: wrap;
		z-index: 2;
		font-size: 3vh;
		color: rgba(170, 170, 170, 0.7);
	}
}

main {
	.jumbotron {
		position: relative;
		z-index: 0;
		height: 100vh;
		display: flex;
		justify-content: space-between;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative; 
			height: 100%; 
			width: 35%; 
			padding: 0;
			padding-bottom: 100%;
			svg { 
				height: 100%; 
				width: 100%; 
				left: 0; 
				top: 0;
			}
		}
		.slogan {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			height: 100vh;
			width: 65%;
			background-image: url(../img/jumbotron2.jpg);
			background-size: cover; 
			background-position: left bottom;
			color: white;

			h1 {
				font-size: 10vh;
				line-height: 15vh;
				font-weight: 900;
				text-align: right;
			}
		}
	}

	.about {
		.description {
			position: relative;
			z-index: 0;
			height: 50vh;
			display: flex;
			justify-content: space-between;

			.desc_txt {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				width: 65%;

				h2 {
					white-space: nowrap;
					position: static;
					transform: rotate(90deg);
					transform-origin: 70% 80%;
					font-size: 17vh;
					color: $headercolor;
					z-index: 2;
				}

				p {
					position: relative;
					z-index: 3;
					transform: translateX(5vw);
				}
			}

			.picture_desc {
				position: relative;
				z-index: 1;
				height: 50vh;
				width: 35%;
				background-image: url(../img/ja.jpg);
				background-size: cover;
				background-position: right top;
			}
		}
	}

	.offer_quick {
		position: relative;
		z-index: 0;
		height: 50vh;
		display: flex;
		justify-content: space-between;

		.offer_list {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 50%;

			.box {
				display: flex;
				height: 50vh;
				align-items: flex-end;
				width: 17vw;
				h2 {
					transform: rotate(-90deg);
					transform-origin: 15% 80%;
					font-size: 17vh;
					color: $headercolor;
				}
			}

			ul {
				transform: translateX(-5vw);
				font-size: 4vh;
				line-height: 8vh;
			}
		}

		.picture_offer {
			position: relative;
			z-index: 1;
			height: 50vh;
			width: 50%;
			background-image: url(../img/oferta.jpg);
			background-size: cover;
			background-position: left bottom;
		}
	}

	.reference {
		position: relative;
		z-index: 0;
		height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.picture_opinion {
			position: relative;
			z-index: 1;
			height: 50vh;
			width: 50%;
			background-image: url(../img/opinie.jpg);
			background-size: cover;
			background-position: right top;
		}

		.ref_people {
			position: relative;
			z-index: 0;
			height: 50vh;
			width: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.opinion {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: space-around;
			}

			h2 {
				transform: rotate(90deg);
				transform-origin: 70% 80%;
				font-size: 17vh;
				color: $headercolor;
			}
		}
	}
}

footer {
	position: relative;
	z-index: 0;
	max-height: 25vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.contact_txt {
		position: relative;
		z-index: 0;
		height: 25vh;
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h2 {
			text-align: center;
			transform: rotate(-90deg);
			transform-origin: 30% 60%;
			font-size: 7vh;
			color: $headercolor;
		}

		.contact {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 3vh;
			width: 100%;
			max-width: 1140px;

			.adres {
				display: flex;
				justify-content: space-between;
				
				p {
					padding: 2vh;
				}
			}

			.contact_other {
				display: flex;
				flex-direction: column;

				.facebook {
					display: flex;
					flex-direction: row;
				}
			}
		}
	}

	.picture_contact {
		position: relative;
		z-index: 1;
		height: 25vh;
		width: 50%;
		background-image: url(../img/contact.jpg);
		background-size: cover;
		background-position: left;
	}
}

.sidenav_projects {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	.sidenav 
		{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			flex-wrap: wrap;

			.card {
				margin: 1vw;
				color: red;
				position: relative;
				z-index: 8;
				height: 400px;
				width: 300px;
				background-size: cover;
				background-position: center;
				box-shadow:
				rgba(black, 0.66) 0 30px 60px 0;
				transition: none;

				.content {
					display: none;
				}
				
			}

			.project {
				background-image: none !important;
				background-color: aquamarine;
				height: 90%;
				width: 90%;
				max-width: 1000px;
				transition:  1s cubic-bezier(0.23, 1, 0.320, 1);
				position: absolute; 
				transform: none !important;
				z-index: 99;

				.content {
					display: contents;
					width: 100%;
					
					.content-header {
						background-color: red;
						display: flex;
						flex: row;
						flex-wrap: wrap;
						width: 100%;
						height: 30%;
						justify-content: space-between;

						.content-logo {
							height: 50%;
							padding: 5vh 5vw;
						}

						.content-picture {
							height: 100%;
						}
					}

					.content-description {
						background-color: blue;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						width: 100%;
						height: 40%;
						align-items: center;
					}

					.content-description2 {
						background-color: violet;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						height: 40%;
					}

					.content-footer {
						background-color: yellow;
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						height: 10%;
						width: 100%;
					}
				}

			}
		
	}

	.closebtn1 {
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 5;	
	}
}

.sidenav_about {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	overflow-x: hidden;
	transition: 0.5s;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		transform: rotate(90deg);
	}

	.closebtn2 {
		position: relative;
		top: 15px;
		left: 15px;
		z-index: 5;
	}
}
}